# Dependency directories
node_modules
.pnpm
.esm

# Environment
.env

# Build directories
.next
# Test results
test-results

# Tests other
tests-examples
tests
screenshots
playwright-report

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
