/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
  transition: background-color 0.3s, color 0.3s;
}

.dark body {
  @apply bg-backgroundDark text-foregroundDark;
}
/* globals.css */
.animate-draw-path-reverse {
    animation: drawAndFillReverse 5s ease-in-out infinite;
}

@keyframes drawAndFillReverse {
    0% {
        stroke-dashoffset: 0;
        fill-opacity: 1; /* Start fully visible and filled */
    }
    10% {
        stroke-dashoffset: 0;
        fill-opacity: 1; /* Hold fully visible for a moment */
    }
    20% {
        stroke-dashoffset: 0;
        fill-opacity: 0; /* Fade out fill */
    }
    40% {
        stroke-dashoffset: var(--path-length);
        fill-opacity: 0; /* Retract stroke to make invisible */
    }
    50% {
        stroke-dashoffset: var(--path-length);
        fill-opacity: 0; /* Fully invisible now */
    }
    60% {
        stroke-dashoffset: var(--path-length);
        fill-opacity: 0; /* Start redrawing stroke */
    }
    70% {
        stroke-dashoffset: 0;
        fill-opacity: 0; /* Stroke fully drawn, no fill */
    }
    80% {
        stroke-dashoffset: 0;
        fill-opacity: 1; /* Fade fill in */
  }
  100% {
      stroke-dashoffset: 0;
      fill-opacity: 1; /* Fully visible and filled again */
  }
}

