/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.animate-draw-path-reverse {
    animation: drawAndFillReverse 5s ease-in-out infinite;
}

@keyframes drawAndFillReverse {
    0% {
        stroke-dashoffset: 0;
        fill-opacity: 1; /* Start fully visible and filled */
    }
    10% {
        stroke-dashoffset: 0;
        fill-opacity: 1; /* Hold fully visible for a moment */
    }
    20% {
        stroke-dashoffset: 0;
        fill-opacity: 0; /* Fade out fill */
    }
    40% {
        stroke-dashoffset: var(--path-length);
        fill-opacity: 0; /* Retract stroke to make invisible */
    }
    50% {
        stroke-dashoffset: var(--path-length);
        fill-opacity: 0; /* Fully invisible now */
    }
    60% {
        stroke-dashoffset: var(--path-length);
        fill-opacity: 0; /* Start redrawing stroke */
    }
    70% {
        stroke-dashoffset: 0;
        fill-opacity: 0; /* Stroke fully drawn, no fill */
    }
    80% {
        stroke-dashoffset: 0;
        fill-opacity: 1; /* Fade fill in */
  }
  100% {
      stroke-dashoffset: 0;
      fill-opacity: 1; /* Fully visible and filled again */
  }
}
.custom-popup {
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle drop shadow */
    background-color: white; /* Ensure a clean white background */
    overflow: hidden; /* Prevent content from spilling */
    font-family: 'Arial', sans-serif; /* Modern font */
    position: relative; /* Allow positioning of the close button */
}

.custom-popup .absolute {
    transition: background-color 0.2s ease;
}

.custom-popup .absolute:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Smooth hover effect */
}
@layer components {
    .loader {
        border-top-color: #3490dc; /* Tailwind's blue-500 */
        animation: spinner 1.5s linear infinite;
    }

    @keyframes spinner {
        to { transform: rotate(360deg); }
    }
}
